a {
  text-decoration: none;
}
a:link {
  text-decoration: none !important;
  color: #757575 !important;
}

a:visited {
  text-decoration: none !important;
  color: #757575 !important;
}

a:hover {
  text-decoration: none !important;
  color: #757575 !important;
}

a:active {
  text-decoration: none !important;
  color: #757575 !important;
}
